BODY {
	BACKGROUND-IMAGE: url(../images/shy_01.gif); MARGIN: 0px; BACKGROUND-REPEAT: repeat-x; FONT-SIZE: 12px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
A:hover {
	COLOR: #c20909; TEXT-DECORATION: none
}
A {
	COLOR: #000; TEXT-DECORATION: none
}
#Profile .z {
	WIDTH: 5px; BACKGROUND: url(../images/shy_64.gif) repeat-y; FLOAT: left
}
#Profile .d {
	WIDTH: 980px; FLOAT: left
}
#Profile .y {
	WIDTH: 5px; FLOAT: left
}
.gaod {
	MARGIN-TOP: 10px
}
.gaoda {
	MARGIN-TOP: 15px
}
.jili1 {
	MARGIN-BOTTOM: 5px
}
.jili1 A {
	COLOR: #196b8a; FONT-WEIGHT: bold
}
.jili1 A:hover {
	COLOR: #c20909
}
.jili1 LI {
	BACKGROUND-IMAGE: url(../images/shy_13.gif); TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; LIST-STYLE-TYPE: none; PADDING-LEFT: 14px; WIDTH: 150px; PADDING-RIGHT: 0px; DISPLAY: inline; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 2px; FLOAT: left; MARGIN-LEFT: 10px; PADDING-TOP: 0px
}
.gg {
	BACKGROUND-IMAGE: url(../images/shy_34.gif); TEXT-ALIGN: left; PADDING-BOTTOM: 7px; LIST-STYLE-TYPE: none; PADDING-LEFT: 17px; WIDTH: 170px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 2px 11px; FLOAT: left; MARGIN-LEFT: 2px; PADDING-TOP: 7px
}
.gg A {
	LINE-HEIGHT: 16px; COLOR: #a07b23
}
.gg A:hover {
	COLOR: #c20909
}
.zuix {
	BACKGROUND-IMAGE: url(../images/shy_68.gif); TEXT-ALIGN: left; PADDING-BOTTOM: 6px; LIST-STYLE-TYPE: none; PADDING-LEFT: 17px; WIDTH: 170px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 2px 8px; FLOAT: left; MARGIN-LEFT: 2px; PADDING-TOP: 6px
}
.zuix A {
	LINE-HEIGHT: 16px; COLOR: #1179a8
}
.zuix A:hover {
	COLOR: #c20909
}
.ztu {
	BACKGROUND-IMAGE: url(../images/shy_13.gif); TEXT-ALIGN: left; LINE-HEIGHT: 21px; LIST-STYLE-TYPE: none; TEXT-INDENT: 22px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left 7px; FLOAT: left; COLOR: #393939
}
.shuju {
	TEXT-ALIGN: left; LINE-HEIGHT: 18px; LIST-STYLE-TYPE: none; TEXT-INDENT: 16px; WIDTH: 350px; FLOAT: left; COLOR: #48656e
}
.tu1 {
	BORDER-BOTTOM: #bebebe 1px solid; BORDER-LEFT: #bebebe 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #bebebe 1px solid; BORDER-RIGHT: #bebebe 1px solid; PADDING-TOP: 1px
}
.wenz1 {
	COLOR: #194b7e; FONT-WEIGHT: bold
}
.wenz2 {
	LINE-HEIGHT: 19px; COLOR: #194b7e
}
.wenz3 {
	COLOR: #0a7bb6; FONT-WEIGHT: bold
}
.wenz4 {
	FONT-FAMILY: Arial; COLOR: #585858
}
.wenz5 {
	COLOR: #3c73b5; FONT-WEIGHT: bold
}
.wenz6 {
	COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
A.wenz6:hover {
	COLOR: #ffff00
}
.Navigation {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 17px; PADDING-RIGHT: 17px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
A.Navigation:hover {
	COLOR: #ffff00
}
.wenz7 {
	COLOR: #ffffff
}
A.wenz7:hover {
	COLOR: #ffff00
}
.wenz8l {
	COLOR: #c4eaf8
}
A.wenz8l:hover {
	COLOR: #ffff00
}
.wenz8 {
	COLOR: #797979
}
.wenz9 {
	COLOR: #196b8a; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.wenz32 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 17px; COLOR: #196b8a; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.wenz10 {
	COLOR: #569cb6
}
.wenz11 {
	COLOR: #f7fbfd; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.wenz12 {
	COLOR: #1e8bb9
}
.wenz13 {
	COLOR: #535353
}
.wenz14 {
	COLOR: #000
}
.wenz15 {
	COLOR: #ec0002
}
.wenz31 {
	COLOR: #454545
}
.wenz16 {
	COLOR: #ad852e; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.xiang {
	BACKGROUND-IMAGE: url(../images/shy_22.gif); TEXT-ALIGN: left; LIST-STYLE-TYPE: none; PADDING-LEFT: 12px; PADDING-RIGHT: 16px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 3px; FLOAT: left; COLOR: #3e3e3e
}
.wenz30 {
	LINE-HEIGHT: 18px; COLOR: #48656e; FONT-SIZE: 12px
}
.wk1 {
	BORDER-BOTTOM: #8bd1f1 1px solid; BORDER-LEFT: #8bd1f1 1px solid; MARGIN-TOP: 10px; BORDER-TOP: #8bd1f1 1px solid; BORDER-RIGHT: #8bd1f1 1px solid
}
.wk2 {
	BORDER-BOTTOM: #dad7d1 1px solid; BORDER-LEFT: #dad7d1 1px solid; MARGIN-TOP: 10px; BORDER-TOP: #dad7d1 1px solid; BORDER-RIGHT: #dad7d1 1px solid
}
.wk10 {
	BORDER-BOTTOM: #dad7d1 1px solid; BORDER-LEFT: #dad7d1 1px solid; BORDER-TOP: #dad7d1 1px solid; BORDER-RIGHT: #dad7d1 1px solid
}
.wk3 {
	BACKGROUND-IMAGE: url(../images/shy_32.gif); PADDING-BOTTOM: 10px; MARGIN-TOP: 10px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 50% bottom
}
.wk3l {
	COLOR: #ff6000
}
.wk4 {
	BACKGROUND-IMAGE: url(../images/shy_46.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 50% bottom
}
.wk5 {
	BACKGROUND-IMAGE: url(../images/shy_47.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 50% bottom
}
.shuru {
	BORDER-BOTTOM: #56b4d6 1px solid; BORDER-LEFT: #56b4d6 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 118px; PADDING-RIGHT: 0px; HEIGHT: 18px; BORDER-TOP: #56b4d6 1px solid; BORDER-RIGHT: #56b4d6 1px solid; PADDING-TOP: 0px
}
.shuru1 {
	BACKGROUND-IMAGE: url(../images/shy_27.gif); BORDER-BOTTOM: #56b4d6 1px solid; BORDER-LEFT: #56b4d6 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 18px; BORDER-TOP: #56b4d6 1px solid; BORDER-RIGHT: #56b4d6 1px solid; PADDING-TOP: 0px
}
.shuru2 {
	BORDER-BOTTOM: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 75px; PADDING-RIGHT: 0px; HEIGHT: 18px; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid; PADDING-TOP: 0px
}
.bj1 {
	BACKGROUND: url(../images/shy_06.gif) #fff repeat-x 50% top
}
.l5 {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 22px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "ºÚÌå"; COLOR: #c90801; FONT-SIZE: 18px; PADDING-TOP: 0px
}
.b7 {
	BACKGROUND-IMAGE: url(../images/shy_53.gif); PADDING-BOTTOM: 16px; MARGIN-TOP: 19px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 50% bottom
}
.l6 {
	LINE-HEIGHT: 20px; COLOR: #424242
}
.biat1 {
	BORDER-BOTTOM: #a9d8ec 1px solid; BORDER-LEFT: #a9d8ec 1px solid; MARGIN-TOP: 10px; BORDER-TOP: #a9d8ec 1px solid; BORDER-RIGHT: #a9d8ec 1px solid
}
.biat2 {
	BACKGROUND-IMAGE: url(../images/shy_54.gif); BORDER-BOTTOM: #a9d8ec 1px solid; BORDER-LEFT: #a9d8ec 1px solid; MARGIN-TOP: 10px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 50% top; BORDER-TOP: #a9d8ec 6px solid; BORDER-RIGHT: #a9d8ec 1px solid
}
.tudx {
	BORDER-BOTTOM: #3f3f3f 1px solid; BORDER-LEFT: #3f3f3f 1px solid; WIDTH: 210px; HEIGHT: 140px; BORDER-TOP: #3f3f3f 1px solid; BORDER-RIGHT: #3f3f3f 1px solid
}
.b8 {
	BACKGROUND-IMAGE: url(../images/shy_53.gif); MARGIN-TOP: 9px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 50% bottom
}
.l7 {
	COLOR: #48656e; FONT-SIZE: 14px
}
.l8 {
	COLOR: #8e8e8e
}
.l9 {
	FONT-FAMILY: "ºÚÌå"; COLOR: #000; FONT-SIZE: 20px
}
.zhengw {
	LINE-HEIGHT: 22px; LIST-STYLE-TYPE: none; MARGIN-TOP: 20px; TEXT-INDENT: 22px; WIDTH: 660px; COLOR: #424242; MARGIN-LEFT: auto; FONT-SIZE: 14px; MARGIN-RIGHT: auto
}
.b5 {
	BACKGROUND-IMAGE: url(../images/shy_32.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 50% bottom
}
.dongtai_lb {
	BACKGROUND: url(../images/shy_70.gif) no-repeat center 50%
}
.dongtai_lb2 {
	BACKGROUND: url(../images/shy_71.gif) repeat-x 50% bottom
}
.dongtai_lb3 {
	BACKGROUND: url(../images/shy_78.gif) #fff repeat-x 50% top
}
.table1px_1 {
	BORDER-COLLAPSE: collapse
}
.table1px_1 TD {
	BORDER-BOTTOM: #a9d8ec 1px solid; BORDER-LEFT: #a9d8ec 1px solid; BORDER-TOP: #a9d8ec 1px solid; BORDER-RIGHT: #a9d8ec 1px solid
}
.table1px_1 TD TABLE TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.black12 {
	COLOR: #000; FONT-SIZE: 12px
}
#wk50 {
	MARGIN-TOP: 10px
}
.Letter {
	COLOR: #b90000; FONT-WEIGHT: bold
}
.biat3 {
	BORDER-BOTTOM: #a9d8ec 1px solid; BORDER-LEFT: #a9d8ec 1px solid; MARGIN-TOP: 10px; BORDER-TOP: #a9d8ec 6px solid; BORDER-RIGHT: #a9d8ec 1px solid
}
.black_20_600 {
	PADDING-BOTTOM: 26px; LINE-HEIGHT: 28px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; COLOR: #000; FONT-SIZE: 22px; FONT-WEIGHT: bold; PADDING-TOP: 26px
}
.font03 {
	BORDER-BOTTOM: #d1d1d1 1px dashed; FONT-STYLE: normal; COLOR: #888888; FONT-SIZE: 12px
}
.font04 {
	BORDER-BOTTOM: #d1d1d1 1px dashed; PADDING-BOTTOM: 30px; LINE-HEIGHT: 24px; FONT-STYLE: normal; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; COLOR: #424242; FONT-SIZE: 14px; PADDING-TOP: 20px
}
.font05 {
	BACKGROUND-COLOR: #e8f6fc; FONT-STYLE: normal; PADDING-LEFT: 10px; COLOR: #505050; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.hui_13 {
	FONT-FAMILY: "ËÎÌå"; COLOR: #454444; FONT-SIZE: 12px
}
#table1px_2 {
	BORDER-COLLAPSE: collapse
}
#table1px_2 TD {
	BORDER-BOTTOM: #cacaca 1px solid; BORDER-LEFT: #cacaca 1px solid; BORDER-TOP: #cacaca 1px solid; BORDER-RIGHT: #cacaca 1px solid
}
#table1px_2 TD TABLE TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#liebiao_lb {
	BACKGROUND: url(../images/shy_81.gif) repeat-x; HEIGHT: 25px
}
.liebiaowhtie12b_lb {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; COLOR: #fff; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.liebiaoblack_lb {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 16px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.liebiao_l {
	PADDING-BOTTOM: 6px; LINE-HEIGHT: 16px; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; COLOR: #000; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 7px
}
.liebiao_r {
	PADDING-BOTTOM: 6px; LINE-HEIGHT: 16px; PADDING-LEFT: 16px; PADDING-RIGHT: 16px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 7px
}
.red12_zi {
	COLOR: #a70c13; FONT-SIZE: 12px
}
